[2019-03-15 17:03] HungarianScienceAcademy commented on #41
How is the Beta3 update going?

[2019-03-15 17:19] TitanRogue commented on #41
@Vierwood Did not noticed that. I'll take a look at it.
@HungarianScienceAcademy So far good.
I suggest that we remove all EMF files from our code. This way we can release the update much faster.

[2019-04-03 13:05] tannerflick4 commented on #41
I would like to do the updating for 3.1, as I took care to backup the game files so I know what the devs changed, and am updating other mods as well.

EDIT: Ok so @TitanRogue has done the common folder updates. If anyone else has started doing the rest, please let me know. Its ok, we just don't need all of us working on the updating at the same time ;)

[2019-04-03 16:56] RowanMaBoot commented on #41
I'm chipping away at events, but all of the unmodified event files are from Holy Fury - and the modified ones are modified _from_ Holy Fury. So events will need a second pass eventually.

Also double reminder to comment out 'removals' rather than actually removing the lines in question, as it makes comparisons and merges a lot easier. ;)

[2019-04-03 21:15] TitanRogue commented on #41
Sorry guys, my email is broken. Did not see that there was a conversation.
However, what do you think of making winterfell, the eyrie, casterly rock,...great works? We did also miss some of the 3.0 lines in scripted_effects and scripted_triggers but they should now be completely merged. I apologize for redundant work and waisted time I might have caused.
If get enough time in the next week. We mig

[2019-04-03 21:54] tannerflick4 commented on #41
I am all for making those into great works 👍

[2019-04-05 11:26] TitanRogue commented on #41
Shall we split the regions for the great works stuff?
If so I would like to take care of the north and the vale.

[2019-04-05 13:28] tannerflick4 commented on #41
I would say, go ahead and "take" a region and if you want another, then come back here and say you are going to do another?

[2019-04-05 22:21] TitanRogue commented on #41
Okay I have finished the Eyrie, Winterfell and Storm's End. Next ones should be Casterly Rock and Oldtown (Hightower) as preexisting great works.

Update: Hightower and Casterly Rock are added as well. The last great work that comes to my mind is the Titan of Braavos. If you have any other great works that should be added let me know.

[2019-04-08 00:10] ZeroFighterR commented on #41
The Wall is the only one coming to my mind

(And I'm not dead, just have no time to dedicate to help with my full-time job)

[2019-04-08 13:29] DeveloperAmr commented on #41
I think the iron islands could have some sort of great work, however, I am unsure what could be considered a great work since not much has been talked about them

[2019-04-08 13:48] Vierwood commented on #41
For the Iron Islands I'd do "Nagga's Hill."

https://awoiaf.westeros.org/index.php/Nagga%27s_Hill

[2019-04-08 13:48] tannerflick4 commented on #41
Ten Towers is actually a great idea for an Ironborn great work, since it was one of the largest and was an extensive project over time to build.

[2019-04-08 13:51] Vierwood commented on #41
I don't think Ten Towers has been constructed yet for our bookmarks. We could however make it buildable.

[2019-04-11 06:30] tannerflick4 commented on #41
So, after taking a look at the alternate start, I have been able to connect islands and BTW to the mainland, down to the Iron Islands. If someone would like to pick up the work, PM me on Steam or discord. I will keep picking away at it, but cannot devote much time to it. The previous adjacencies were not letting the "spread" work. Also, if you know how to make sure there is no "noculture" instance

[2019-04-12 23:11] tannerflick4 commented on #41
@Altemio @TitanRogue

Getting this error, and not sure why, as wildling government does exist...

`# Other Governments
is_special_other_government_potential = {
    OR = {
        is_government_potential = wildling_government
        # is_government_potential = high_tribal_government
    }
}`

`[triggerimplementation.cpp:17910]: Script Assert! assert: "false && "CIsGovernmentPotentialTrigger has w

[2019-04-26 10:03] TitanRogue commented on #41
@tannerflick4
Looks like wildling_government doesn`t exist.

[2019-05-05 09:30] TitanRogue commented on #41
@Altemio @tannerflick4  @Vierwood
Which coronations shall we use? I would prefer EMF since they have the cool invitations.

I still have some struggle finding suitable portraits for our dragons and today I found this mod on Steam:https://steamcommunity.com/sharedfiles/filedetails/?id=1733862215. I believe this is a opportunity for us to have major diffrence between TSK and AGOT since right some po

[2019-05-10 12:14] tannerflick4 commented on #41
@Altemio , this I think is the best place to find you on :) I am lead dev on the MEP team, and my other team members wanted to know if you would be interested in redoing the Middle Earth map for us?

[2019-05-11 18:21] RowanMaBoot commented on #41
I could probably do that fairly easily! What exactly would you be looking for me to do?

@TitanRogue

I'd also prefer EMF for it too!

As for the portraits, I think they look pretty good - feel free to ping them to find out if we could use them too (I can't open the link right now, at the office, but if it's the one I think it is I'm pretty sure they themselves are using someone elses' assets).

[2019-05-11 19:13] tannerflick4 commented on #41
@Altemio what is best way for him to get in touch with you?

[2019-05-16 14:35] tannerflick4 commented on #41
@Altemio , whats the best way for Marowa on our MEP team to contact you?

[2019-05-16 20:31] TitanRogue commented on #41
@Altemio @Vierwood @tannerflick4
What do you think of using the byzantine government and succession laws for the Western Territories?

[2019-05-16 21:18] tannerflick4 commented on #41
I am good with that. Does the Viceroy even need to be a republic now that I assume we can make the free cities as an "ok" gov type as a vasssal?

[2019-05-17 12:02] TitanRogue commented on #41
@Altemio @Vierwood @tannerflick4
What do you think of using the byzantine government and succession laws for the Western Territories?

[2019-05-17 20:55] Vierwood commented on #41
I wouldn't mind it. Although, we'd have to ensure that the Valyrian Territories don't get any ideas about invading Westeros.

[2019-05-18 08:15] TitanRogue commented on #41
About event patching: All events except for old_gods_various_events, old_gods_holmgang, mnm_misc_events, mnm_artifacts_events, misc_old_gods_events, HF_sainthood_events, HF_religious_events, HF_bloodline_events, HF_alternate_start_events are done.

[2019-05-18 20:11] RowanMaBoot commented on #41
@TitanRogue

Would it make more sense for the Western Empire to not be ruled by a republic of Valyrian Dynasties? We've been calling the individual in question that has been elected to rule over the subject republics a viceroy - but would having them actually function as a (feudal) viceroy even be more 'realistic' to the canon?

[2019-05-27 19:43] Vierwood commented on #41
A lot of the Jade Dragon "China" localisation has reverted back to vanilla, causing words such as China and Emperor to be used rather than Valyria and Archon.

[2019-06-05 20:11] TitanRogue commented on #41
@Vierwood I will edit it in the coming days.

@Altemio You are propably right, it should stay a republic-like government. Some people on Steam complained about the GitHub version not being linked in the description. Could you add a link for it and also for our Discord server?

[2019-06-05 23:07] RowanMaBoot commented on #41
Per Paradox we can’t link the github repository (due to people using external links to circumvent needing to own the game to get mods). Will look into adding the discord link once I’m able to (feel free to link Git there).

(In case anyone is curious about my disappearance, I moved house (currently no internet there, waiting for charter to finish burying cables), got a new job/promotion and I am c

[2019-06-07 07:30] tannerflick4 commented on #41
@Altemio , whats best way for Marowa on the MEP team to contact you about the map?

[2019-06-07 13:39] GoogleDavide commented on #41
if this is the correct place to report bugs, then I wanted to report 2 things
Women don't lose the pregnancy trait after giving birth to a stillborn, so they can't give birth to other child
When starting a saved game, all yours personal levies go down to zero
All of these appened in the Age of Heroes bookmark
(if this isn't the right place to post such things, let me know and I'll remove my commen

[2019-06-22 13:46] RowanMaBoot commented on #41
Should be good to find me on the Paradox forums (I'm not particularly active on there, but if you let me know that they've reached out to me on there I'll get onto it). Easy to share stuff too on there as well!

[2019-07-01 12:41] tannerflick4 commented on #41
@Vierwood , whats your idea on the climate? Beyond the wall gets severe winter, and the north gets normal, nothing for the rest? I am trying to get the ProvDef back in sync...

[2019-07-01 21:08] Vierwood commented on #41
@tannerflick4 that's the idea, yeah.

[2019-07-01 22:56] tannerflick4 commented on #41
ok, I'll change it in the ProvDef to reflect this tomorrow.

[2019-07-11 13:49] tannerflick4 commented on #41
Ok, at one time we had a bunch of the JD/China code really set up for our mod, and now it seems like its been put back to vanilla in the events. Why was this done? It was quite a lot of legwork getting everything changed over and accommodating the extra status...

[2019-07-12 20:38] RowanMaBoot commented on #41
If you're talking about events, when HF came through I ported over every single event from vanilla from scratch.

This is because we were getting crashes due to a lot of broken events (ranging from variables that were renamed in some places but not in others - we shouldn't have renamed any of them - to regions, provinces, cultures and religions that were outright replaced or removed, resulting in

[2019-07-12 21:12] tannerflick4 commented on #41
Yeah, the whole China/Chinese was a big mess, because we tried to change it, and then bring it back.

Thank you for the explanation Rowan. I thought it might of been you, but thats ok, we didn't do alot of that the right way because someone dove in and was drowning so we helped them out, but it got messy.

I will look into the China/Chinese conundrum, and try to make it work seamlessly for Valyria

[2019-07-13 06:17] TitanRogue commented on #41
@Altemio

Could you please link our Discord server at Steam

[2019-07-13 06:18] TitanRogue commented on #41
Also I would be happy if some native English speaker could take a look at my localisation files for custom mechanics I have uploaded recently.

[2019-07-18 16:27] RowanMaBoot commented on #41
Seems Steam censors Discord links for some reason..?

[2019-07-18 17:10] TitanRogue commented on #41
@Altemio At least in the comment section

[2019-07-19 12:45] TitanRogue commented on #41
There is this mod on Steam called "Improved Genetics 2.0" which adds a gene-tracker (?). In order to represent incest properly a mechanic must be found or developed that keeps track of a character's parents and evaluates possibly incest traits. This mod might be a good choice as close family members have a high chance of producing clubfooted, hunchbacked, etc. children. If you all I agree I might

[2019-07-19 13:30] tannerflick4 commented on #41
Sounds great to me. Count me in :)

[2019-07-19 15:50] RowanMaBoot commented on #41
Yeah that'd be awesome, I've personally used that mod with HIP and it is quite subtle, to say the least.

[2019-07-21 20:02] TitanRogue commented on #41
We have some congenital traits added to the game which might be lost if we add Improved Genetics. I could try to integrate them, but I do not think that they are necessary. We will get some new traits in return though.

[2019-07-23 14:27] TitanRogue commented on #41
I also ran into an issue:
After a few years some characters get a hidden trait "cannot_marry" wich is used by several vanilla events to manage scripted marriages or to prevent characters from marrying for a specific amount of time. However, it seems like this trait does not get removed.

[2019-07-26 17:55] tannerflick4 commented on #41
So, a modding friend of mine found an issue with the ProvDef tool, and is going to try to fix it. It makes all ocean provs into navigable rivers, which means only our cultures which can navigate can use the oceans. Problematic, but should be an easy fix he says.

[2019-07-26 18:16] TitanRogue commented on #41
This issue does not occur in our mod, does it? I can navigate through all oceans I want without any issues but not through navigable rivers as a Stormlander ruler.

[2019-07-26 19:12] tannerflick4 commented on #41
I am not sure, but my friend thinks someone must of already figured this out for us.

[2019-07-27 14:03] RowanMaBoot commented on #41
I've not seen this issue with the ProvDef tool, so if a newer release has been pushed it could be an issue with that version of the tool - no for me to know off-hand.

However, so long as the provinces are set up properly in the spreadsheet I don't think we've ever had issues with them being assigned to ocean/rivers etc. incorrectly.

Assignments are handled via the default.map file, where rivers

[2019-07-27 14:05] #2 closed

[2019-07-27 14:05] #6 closed

[2019-07-27 14:05] #7 closed

[2019-07-27 14:05] #10 closed

[2019-07-27 14:05] #11 closed

[2019-07-27 14:05] #21 closed

[2019-07-27 14:05] #22 closed

[2019-07-27 14:05] #24 closed

[2019-07-27 14:05] #26 closed

[2019-07-27 14:05] #27 closed

[2019-07-27 14:05] #28 closed

[2019-07-27 14:07] #35 closed

[2019-07-27 14:07] #31 closed

[2019-07-27 14:08] RowanMaBoot commented on #14
Did we ever find out exactly what was missing, and therefore caused the crashes?

[2019-07-27 14:38] TitanRogue commented on #14
I do not know but with the trade routes I added so far I have not experienced any crashes. So I guess the issue was fixed by our reconversion of vanilla files.

[2019-07-27 21:08] RowanMaBoot commented on #14
Great! Would've been good to know what caused it.

[2019-07-27 21:08] #14 closed

[2019-07-30 10:28] TitanRogue commented on #41
@Altemio @tannerflick4  @Vierwood
Why do we need the far east religion group?

[2019-07-30 14:47] tannerflick4 commented on #41
It was intended to show the small chance rulers had to convert to foreign religions, like Stannis in the books with Rhllor. Essentially, we were hoping for a intricate system which would see courtiers pop up in courts with a small chance of initiating an event to convert the ruler.

[2019-07-30 15:52] TitanRogue commented on #41
Actually reminds me of an IR event when a group of egyptians arrives in one of my cities and converts some pops to their orientalic religion and culture.

[2019-07-30 21:37] TitanRogue commented on #41
I suggest we give the Rhoynar and Dothraki their own religion group. Since they actually do not have much in common.
I was also thinking about the passage connecting the Reach and Dorne (Carrion Pass). I think unless PDX does not add movement blocking forts this passage should be blocked by wasteland.

[2019-08-01 00:22] tannerflick4 commented on #41
They were just grouped like that for convenience, since they would only come through Valyria offmap anyways. But go for it! Just be sure to switch/add the references, they are in quite a few places.

[2019-08-04 10:59] Sqoops opened #43 "Terrain gets destroyed"
![agot](https://user-images.githubusercontent.com/4706311/62422739-864d6400-b6b7-11e9-973d-bc57f36ff23c.jpg)

[2019-08-04 11:17] TitanRogue commented on #43
Yeah, noticed the same issue with my dragon events. It requires a more or less complex syntax to get fixed. I think it is easier to make terrain a province modifier.

[2019-08-09 13:16] TitanRogue commented on #41
Duplicate character IDs:
7125, 7126

[2019-08-18 13:46] TitanRogue commented on #41
@Altemio  @Vierwood  @tannerflick4
I might have found a way to simulate the Bloody Gate and Moat Cailin. There is a way to turn wastelands into actual provinces with holdings. Whenever an enemy army is in the neighbouring province the Bloody Gate turns into wasteland and is impassable and opens only when the enemy army leaves the provinces or an allied host is on the other side.

[2019-08-19 00:09] tannerflick4 commented on #41
Interesting, wouldn't it be best to just give like a big negative modifier for anyone who attacks them?

[2019-10-01 00:43] tannerflick4 commented on #41
@Altemio , please message me on Steam. A group of myself and some modders are interested in seeing if you would like to help us mapping wise.

[2019-10-04 10:47] TitanRogue commented on #41
@Altemio
I propose we release our current GitHub version on Steam. They have been waiting for almost a year and the version is in a good shape.

[2019-10-04 14:16] TitanRogue commented on #41
What shall we do with the Western Territories? Should they have their special Freehold government again, confucian bureaucracy (renamed) or something else?

[2019-10-04 17:31] TitanRogue commented on #41
@Altemio I also ask to allow me to upload the Steam release from now on. I could push smaller updates much more frequently. Do not get me wrong, I do not want to undermine you. ;)

[2019-10-04 17:54] tannerflick4 commented on #41
I would go with what is mentioned in the JD event files, then you wouldn't have to change every instance of it? But I really am not sure.

[2019-10-04 19:11] RowanMaBoot commented on #41
Apologies for my complete hiatus as I have been very busy over the last few months with work (had a rather large promotion), so I've barely touched my computer (my SO is also eating up most of my free time, so I rarely touch my PC right now - and when I do, it is because she wants to play or see something).

@TitanRogue

I'd say we should go with what Tanner said as it makes updating easier (when

[2019-10-04 19:15] RowanMaBoot commented on #43
So the reason the 'terrain building' is a building is so that it can have more effects - fort level being one of the main ones, otherwise we can fall back to the old method of using modifiers within the terrain_type itself.

However, we could create a scripted trigger with the terrain buildings listed (it would be an OR = {buildings} statement, then quickly find any events that destroy buildings -

[2019-10-04 21:13] TitanRogue commented on #41
@Altemio Unfortunately the Steam Workshop is very limited when it comes to cooperative projects. So I would make a reupload and link the new page in the comments and the description of the old page would also have a link to the new one.

I will then use the government that is referenced for the protectorate. I believe it is a feudal government but I could easily make it a republican one. That is t

[2019-10-05 10:01] TitanRogue commented on #43
@Altemio
You can use every modifier as province modifiers, I checked it.

[2019-10-05 14:26] TitanRogue commented on #41
There is a huge game breaking issue with one of my uploads yesterday. I fixed it but it is very important that you update the mod. The issue makes the game freeze after a few months and makes it impossible to play.

[2019-10-07 22:09] TitanRogue commented on #41
@Altemio
What do you think of my suggestion?

[2019-10-08 00:20] RowanMaBoot commented on #43
@TitanRogue ah that is good to know. Previously the fort_level could be used on a province level, but had no effect. I'll trial it out and will remove the landscape buildings if it works as desired!

[2019-10-08 00:29] RowanMaBoot commented on #41
We can do that if you want! Though we'll lose our subscribers & ratings, if that matters at all.

Mind I'm active again (and will be for the foreseeable future, since I'm also not planning on moving again either) - so worst case you can drop a message here (@ signing me) and I'll be able to priority upload any new builds as needed.

[2019-10-08 10:47] TitanRogue commented on #41
Meant no offense. Did not know you where active again. Then we can leave it the way it was, I guess.

[2019-10-08 14:39] TitanRogue commented on #41
I think this is Beta4 now, isn't it? Also someone should take care of the changelog and the mod description.

[2019-10-08 14:48] TitanRogue commented on #41
![thumbnail](https://user-images.githubusercontent.com/40209082/66406131-6ace4480-e9eb-11e9-9cd3-c13ce585d7b2.png)
I also made a new thumbnail inspired by the old one.

[2019-10-08 18:23] RowanMaBoot commented on #41
Oh no, I didn't take any offense!! I'm totally fine with it if that is the preferred option, wouldn't have had any issues if you guys created a new page, especially whilst I was gone (I was completely unaware that you guys were unable to upload).

I'll get onto version related stuff if someone doesn't beat me to it.

And nice! Looks great - I'll get that thumbnail added once I get home.

[2019-10-08 18:55] TitanRogue commented on #41
I am currently assigning a terrain type to every province, I hope you guys don't mind.

[2019-10-08 21:14] TitanRogue commented on #41
Westerosi Feudalism should be renamed to Andal Feudalism since actually only the Seven rulers get it. They are kinda ruling in the name of the gods whilst the First Men following the Old Gods have a more martial and powerbased feudal or tribal structure just like pagan Northmen. What do you think.

[2019-10-08 22:34] tannerflick4 commented on #41
Sounds good to me. While old gods rulers should still follow traditional succession, wildlings could probably get some type of succession similar to the Byz in vanilla, where the strongest "commander
" becomes the next ruler if theres no heirs

[2019-10-09 00:00] RowanMaBoot commented on #41
Yeah, I think it was Turkish succession? If so that would suit the Wildlings really well!

[2019-10-09 01:19] tannerflick4 commented on #41
@Altemio , I noticed HF 23005 we have twice in HF religious events, because we added an extra set of options from 23004. But, see the next event is same id, so run into a problem. But I would rather you fix that.

[2019-10-11 00:27] RowanMaBoot commented on #41
Should be fixed now!

[2019-10-15 19:58] tannerflick4 commented on #41
Why do we have our own generate spouses rule? Shouldn't we just use the vanilla generate families rule?

[2019-10-16 05:10] TitanRogue commented on #41
The diffrence is that the Vanilla rule only adds families for lonely rulers without wife and children. Since we have rulers with children but no spouse I made another rule to fill that gap.

[2019-10-16 12:15] tannerflick4 commented on #41
Sounds good, good work!

[2019-10-19 08:58] TitanRogue commented on #41
The carrion pass should be another wasteland. The prince's pass and the bone way are historically the only passable ways to Dorne.

[2019-10-19 09:46] TitanRogue commented on #41
Oh and how do you feel about CKIII?

[2019-10-19 11:19] tannerflick4 commented on #41
I like ck3! I enjoy the roleplay/character focus, but worry modding wise it will resemble I:R too much which I dislike the way it throws everything into a few files.

[2019-10-20 18:58] TitanRogue commented on #41
@Altemio
Could you update the mod?
I made some fixes for your new infrastructure decisions and allowed rulers to use them in their vassal provinces, I hope you are fine with that.

[2019-10-21 00:24] RowanMaBoot commented on #41
@TitanRogue

Sure!

And that is absolutely no problem, threw that one together on my phone during lunch - I'm actually focusing on getting the building system working flawlessly, and the road & infrastructure modifiers are going to be playing a fairly large part in that, so that is great.

[2019-10-21 19:23] tannerflick4 commented on #41
@Altemio , can you update the mod again? We fixed a critical bug. thanks, and sorry to bother ya. :)

[2019-10-22 00:26] RowanMaBoot commented on #41
No problem! Checking every night now to see if we need to upload a new build xD

[2019-10-22 13:19] TitanRogue commented on #41
@Altemio
Could you alter the recommended mods section of the mod's description to
- DLC Portraits: https://steamcommunity.com/sharedfiles/filedetails/?id=1360765985
- In heaven's graphical overhaul compatibility: https://steamcommunity.com/sharedfiles/filedetails/?id=1880960100
- Dragon Engine: https://steamcommunity.com/sharedfiles/filedetails/?id=1880024189
?
Could you also link our Discord serv

[2019-10-23 15:48] RowanMaBoot commented on #43
Closing this issue; terrain modifiers replaced the buildings.

[2019-10-23 15:48] #43 closed

[2019-10-23 15:48] RowanMaBoot commented on #41
Forgot to say, but got that sorted - all of those details have been popped into the description 👍

[2019-10-27 19:58] TitanRogue commented on #41
@Altemio
We fixed lots of bugs. Would be nice if you could update the mod. ;)

[2019-10-28 03:18] RowanMaBoot commented on #41
Getting it uploaded now :)

[2019-10-29 14:09] TitanRogue commented on #41
@Altemio
Could you please remove
(Outdated) CPR+ for TSK: http://steamcommunity.com/sharedfiles/filedetails/?id=1360765985.
from the description?

[2019-10-30 16:24] TitanRogue commented on #41
@Altemio
The mod descrition says that the current version is beta5 but it actually is beta6. Since we already have the version's name in the mod's name I think we can delete it from the description.

[2019-10-31 16:12] RowanMaBoot commented on #41
Yeah that is a good point; I've dropped that from the description. 👍

[2019-11-03 17:19] TitanRogue commented on #41
@Altemio  @tannerflick4
Is there any system behind the localisation files naming? If not I would like to give them all a 000_ prefix except mapfiller files.

[2019-11-03 18:53] tannerflick4 commented on #41
Not that I know of. Just kinda whatever goes lol.

[2019-11-03 19:35] TitanRogue commented on #41
@Altemio  @tannerflick4
Unfortunately I can not add custom terrain defender bonuses so only vanilla terrain bonuses work. I suggest that we delete the new terrain types in order to assure strategic meaning of terrain.

Edit: I have found a way to keep the new terrains with bonuses but I will need some time to balance and adjust it.

[2019-11-09 18:06] Vierwood commented on #41
@Altemio someone might've found a fix for our straight crossing issue.

https://forum.paradoxplaza.com/forum/index.php?threads/strait-crossing-graphics-not-showing-up.1276114/

[2019-11-09 19:07] TitanRogue commented on #41
Could work. I can take a look at it in a few hours if you do not mind.

[2019-11-09 22:37] RowanMaBoot commented on #41
Ooo. Great find! 👍

[2019-11-09 23:10] TitanRogue commented on #41
I made some changes and we now have visible straits.

[2019-11-11 19:14] RowanMaBoot commented on #41
So with the new buildings, the overall levy size is being drastically reduced.. It will range from, as a completely un-upgraded castle, roughly 85 men, to approximately 1000 men once fully upgraded.

This should help with certain aspects of the economy, notably being:

- Less men, which means less economic drain during most conflicts. This also means mercenaries will be more impactful, as they wil

[2019-12-12 19:51] RowanMaBoot commented on #41
So the 00_core_building_setup will be the file that governs building assignment at game start. It assigns based on region and rank, with considerably better infrastructure given to capital versus secondary demesne.

I'll add a secondary event for forcing infrastructure & buildings, if we then want particular provinces (or realms/duchies/kingdoms etc) to be even more developed.

If you guys have an

[2020-03-07 20:58] RowanMaBoot commented on #41
Doing some last minute testing and scripting, but I've got 30,000 lines of building code almost ready to commit. Will roll out a modified development event chain at around the same time so that buildings are populated globally (based on the rank and location of the character).

I've written some python tools for helping with generating buildings, so I can do bulk edits/creates now. So let me know

[2020-03-11 00:24] tannerflick4 commented on #41
With the latest commit (my parse fixes), the game crashed for me after a year or 2, playing in the time of the Hammer of the Dornish. error log was 33000 lines :(

[2020-03-11 17:13] RowanMaBoot commented on #41
Ah, not so fabulous. Will get that checked out.

[2020-03-11 19:17] RowanMaBoot commented on #41
Very strange, I'm able to play for decades without any issues. But I'm playing as an Old Gods character, Rain House. Going through and squashing errors right now, trying to get the error log down - will then playtest the Hammer. Can you replicate the crash easily as him, but not as say Old Gods characters?

[2020-03-11 23:36] tannerflick4 commented on #41
I was playing as a count in the Crag as an Old Gods. Weird :(

[2020-04-07 13:28] tannerflick4 commented on #41
@Altemio , build times for buildings are coming out with not straight up days, and I think the game only allows/prefers "164" instead of "164.28"...

[2020-04-08 22:57] RowanMaBoot commented on #41
Oops! Wasn't aware it didn't like decimal values. I'll make sure to fix that. I've been tweaking and rebalancing everything, so will make sure that is remedied.

[2020-04-28 02:10] tannerflick4 commented on #41
I really want to get the mod to not crash at any point. For me, it always crashes from 2-40 years in, usually earlier.

But, a lot of things I cannot fix on my own. Bringing the EMF stuff up because I don't know why it was ever added, and its code is too complex for me to figure out what stays, what should go, what is actually used, etc.

[2020-04-28 14:06] TitanRogue commented on #41
I am currently working on a bug fix for the EMF coronation system combined with improvements for creating king-tier titles when ruling an empire.
I have also tested my map editing skills and I came up with this. I simply moved the Codd incest isle northwards and made it smaller. That island always felt out of place to me. If you agree I commit it and improve it.
![20200428155933_1](https://user-im

[2020-04-30 13:31] tannerflick4 commented on #41
@Altemio , there are many duplicate knight modifiers in the terrain bonuses/maluses. The numbers are different for them, so you'll have to edit that ;)

[2020-05-06 14:39] RowanMaBoot commented on #41
I'm not too sure why so much EMF stuff was brought in - mechanically it's a sweet mod, and it'd be nice to have them integrated. But checking a few of the events added, they weren't adapted at all for our mod and still reference vanilla/HIP content!

So for the content that hasn't been adapted, we'll defo want to look into making adjustments.

Since you're getting crashing so frequently @tannerfli

[2020-05-06 22:42] TitanRogue commented on #41
@Altemio
I do believe the tree map is too big and as a consequence causes massive lags. When zooming in too many trees are generated. That's what I believe.
Some EMF triggers and effects are used by the HIP factions. I have started checking them out and will continue to do so. I also try to fix Improved Genetics.

[2020-05-07 00:19] tannerflick4 commented on #41
@Altemio , I tried removing those files but now the mod does not load for me. It crashes after the first loading screen loads.

[2020-05-07 04:21] RowanMaBoot commented on #41
@TitanRogue
That actually makes sense and could be the cause! I've not had any lag when zooming in, but that could also just be my system. Will defo want to explore vanilla tree settings, see if that has bearing on the instability. I'm not sure it'd be a root cause in this case however, as I'm fairly sure HIP also does similar (altho maybe not quite as high tree density).

@tannerflick4
In the cas

[2020-05-07 15:10] TitanRogue commented on #41
I resized the tree map in my latest commitment. I just forgot to note it.

[2020-05-08 14:01] tannerflick4 commented on #41
Leaving the terrains file in but removing the others gets me to about 30 years in game, still not great, but better than 10-15 with the files included.

[2020-05-08 15:19] RowanMaBoot commented on #41
Very bizarre - thanks for experimenting! Let me know how events impact the instability, if by much at all.

[2020-05-08 15:28] TitanRogue commented on #41
@Altemio @tannerflick4
The reason for the mod loading and then crashing when removing terrain.txt is terrain.bmp since terrain.txt is referencing to new terrain types in terrain.bmp. The vanilla terrain.txt doesn't have those references making those added colours in terrain.bmp "illegal" and then casues a crash, I guess.

[2020-05-08 19:57] RowanMaBoot commented on #41
Yeah - when I made the original suggestion to remove the terrain.txt file it completely passed me by, as the indexes would need to be stripped from the terrain file, so it's just easier to keep that file. The extra terrain types and the larger trees.bmp file shouldn't have any bearing on the issues seen - just because many other mods do the same without trouble. Still was worth a try tho.

Another

[2020-05-08 21:42] tannerflick4 commented on #41
I am sure as we continue to fix up things it could get better.

Titan is going to hammer out the EMF files, that will help too.

[2020-07-15 13:44] tannerflick4 commented on #41
Helios: Hello there, hope you don't mind me further explaining that problem I ran into over here.
[9:33 AM] Helios: Okay, so lets take Oldtown as an example, where the Starry Sept is mine and not the high septon's. So in order to build the small trivial vineyards in Oldtown I need minor chapel V, however even when the Starry Sept has minor chapel V, I can only build those vineyards in the Starry S

[2020-07-15 20:40] RowanMaBoot commented on #41
Great to know! It's a bit odd that a 'Chapel V' building would be referenced by a building, given that such doesn't exist (or shouldn't). Was the user using the Git version? If so, did they do a clean install when using the latest release? I'll look into it nevertheless, may already be fixed (I'll try to get the building overhaul stuff committed asap).

[2020-07-27 14:32] tannerflick4 commented on #41
Currently, it doesn't seem possible to implement absolute cognatic succession. I've tested a few Free Folk cultures as well as a Valyrian and Dornish and none of them are considered to meet the condition of being in their culture groups.

This was reported by someone to the Discord who plays the mod through steam. I tried adding the culture groups to the potential block, but it still didn't work/w

[2020-08-03 19:59] RowanMaBoot commented on #41
That should be fixed as of my last commit, the succession laws seemed to have a lot of issues in general for some reason. Let me know if we see any further weirdness (hopefully it should also fix Valyrian succession, as people were reporting that broke)

Now the important bit - crashes!

- When do we see crashes? What is the average amount of time that spans before seeing a crash?
- Do the crashes

[2020-08-03 21:36] RowanMaBoot commented on #41
Strangely enough I think I might've found the cause!

[2020-08-04 12:21] tannerflick4 opened #45 "Continuation of Roadmap & Discussion"
So, the old issue thread is 285 comments long, and therefore my internet hates to load it. I prefer if we start this thread new, it doesn't need to be fancy intro, just making it easier to load :)

[2020-08-04 12:25] tannerflick4 commented on #41
Made a new post for us to all comment on, this one is too long and my internet grumbles loading it.

[2020-08-07 22:56] RowanMaBoot commented on #45
Yeah, the old thread was getting hectic! Especially the email chain..

I'm going to see about changing our workflow on the Git, and will try to split off issues in the future to separate issues, which can then be linked to the roadmap for releases (so we can keep track of what needs to be fixed for the next release).

[2020-08-08 04:47] Altemio opened #46 "Duplicate Infrastructure & Road Modifiers on Startup"
@BladedQueen reported some issues with doubled modifiers in certain provinces - notably it appears to be unique provinces, like Winterfell.

Coincidentally this is handled by 00_core_building_setup.txt wherein manually defined provinces have unique assignments handled.

This needs to be resolved before moving forward with a release, due to impact of modifiers on build time and the sort.

[2020-08-08 04:49] Altemio opened #47 "Mountain Texture (Inheaven's Graphical Overhaul) has poor tiling"
![image](https://user-images.githubusercontent.com/4649131/89702603-6ffc6880-d908-11ea-88b1-d1d1f8cf2719.png)

Image describes this. Not super high priority, but should be resolved through manual image edits (if possible) to help reduce tiling.

[2020-08-08 04:50] #41 closed

[2020-08-08 04:53] Altemio opened #48 "Driftmark & Dragonstone: No Holdings"
This issue is being caused by historic assignments for buildings that no longer exist.

[2020-08-08 05:02] RowanMaBoot commented on #48
Dragonmont and possibly Driftmark Shipyard need to be re-added, as both are missing.

[2020-08-08 05:05] Altemio opened #49 "Missing hfp_duel_events"
The Holy Fury duel system is not present. Unclear what alternative is being used, if any, in place of this?

Been getting odd reports here and there concerning it.

@TitanRogue noticed you removed the hfp_duel_events Jul last year - do you remember off-hand why this was the case? If not we can look at re-integrating the duel events.

[2020-08-08 05:15] Altemio opened #50 "Economic Balance Issues"
Technically not a bug-

@BladedQueen mentioned some issues impacting trade routes that were having some serious effects on provincial economics. Additionally, republics were also seeing too much gold.

This will need to be rectified to avoid other reported issues with mercenary spam by the AI, which has also been reported by steam users.

[2020-08-08 05:17] Altemio opened #51 "Wonders"
Apparently some wonders can be built, or have been built, by the AI where they should not have been built.

In addition, it appears that some Wonders - which are pre-built at certain dates - are not available to build by the player.

[2020-08-08 05:21] Altemio opened #52 "Introduce House Retinues"
- Very expensive to hire and maintain
- Takes advantage of retinue capacity added by many structures. The Dusklands King, for example, can have up to 1.7k in retinue capacity (subject to change with future building balance tweaks).
- Low number per 'unit'

[2020-08-08 16:00] #50 closed

[2020-08-08 21:55] #46 closed

[2020-08-08 22:27] RowanMaBoot commented on #47
Test of a newer texture. Still needs a fair bit of editing though:

![image](https://user-images.githubusercontent.com/4649131/89720864-776d5180-d99c-11ea-80c1-d51fc1a1b2fe.png)

Slightly less pronounced grid-like texture. Still apparently with some of the other textures.

[2020-08-09 23:09] Altemio opened #53 "Unable to Journey to Valyria"
User report:

![image](https://user-images.githubusercontent.com/4649131/89743726-79eaac80-da6b-11ea-9316-54a4d8d9509a.png)

Appears to be stemming from some invalid statements.

[2020-08-09 23:13] #53 closed

[2020-08-09 23:19] RowanMaBoot commented on #49
Not closing out yet, but re-added for the time being as this has got multiple complaints from users. Original commit removing did not describe any details as to why, and because of how long ago if there was a discussion I've sadly forgotten.

Please let me know if we see any issues!

[2020-08-10 17:24] Altemio opened #54 "Missing Unique Structures"
Structures from 00_unique_buildings_castle.txt were missed and not incorporated into the scripts that manage the building system.

These structures need to be re-added.

[2020-08-10 18:49] #48 closed

[2020-08-10 21:00] #54 closed

[2020-08-10 21:00] #49 closed

[2020-08-10 21:03] Altemio opened #55 "Add Crossing over the Torrentine"
![image](https://user-images.githubusercontent.com/4649131/89831176-00ae9080-db23-11ea-8261-8800429eeaff.png)

Enhancement request - to add a crossing. Image describes the situation fairly well, and it does make for odd behaviour having to move so far around the river (bridges logically would be present.

[2020-08-10 21:06] Altemio opened #56 "Government Switching"
One standing request is to allow for switching of governments, even if over a long period of time, such as from a First Men culture group to an Andal culture group government.

Some of the special governments may be possible to also achieve this way.

[2020-08-10 21:09] Altemio opened #57 "Event: Azor Ahai"
Of this there are two proposed events:

A rare event chain introducing the Azor Ahai for characters of Rhllor faith with high piety and faith (non-cynical etc) and a possible bloodline if they are successful in carving out a realm.

May also fire as a mini-invasion, spawning a small force backing a zealot - which can carve out a realm.

[2020-08-10 22:30] Altemio opened #58 "Some Provinces lack Development"
Notably tribal regions and uniquely defined provinces, which just have a placeholder structure.

[2020-08-12 18:44] #58 closed

[2020-08-13 20:33] RowanMaBoot opened #59 "Artefact Balancing"
Some artefacts have very high stat modifiers (for example, the pike/halberd line has a 40% damage modifier) making them extremely powerful in use by armies.

Some artefacts don't have much in the way of stats, so should be awarded something to make them more worthwhile. For example, lighter armours could buff commanders on flanks, heavier armours buff the centre.

[2020-08-14 17:18] Altemio opened #60 "Resource Icons"
The various resources should have icons assigned, or at least a generic icon for all resources without a unique icon.

[2020-08-14 17:19] Altemio opened #61 "Religious Icons"
Religious Icons are needed for all of the religions. Existing icons need an overhaul - they frankly aren't up to scratch.

[2020-08-17 12:47] tannerflick4 commented on #55
Where would the crossing go, what prov to and from? I can code it in, even if we don;t have a bridge per se yet.

[2020-08-19 21:49] RowanMaBoot commented on #55
I've added it between North Carrion Pass and South Carrion Pass, kinda turning the region into an accessible but highly defensible 'alley'. If you're being attacked from the West, you can hold North Carrion Pass, whilst if you're being attacked from the East you can hold South.

That is if the war isn't lost due to ticking warscore however.

[2020-08-19 21:53] Altemio opened #62 "Island Regions need Defining"
Island regions are not defined/handled, which may be impacting AI functionality to some degree.

[2020-08-19 22:47] RowanMaBoot commented on #62
Note: only 'islands' or clusters of islands that have no crossing connecting them to the mainland should be added. Each island region is grouped by islands that are accessible to one another.

[2020-08-19 22:57] #55 closed

[2020-08-24 04:37] Altemio opened #63 "Lys Succession Bugged"
Two reports of bugged succession for Lys.

[2020-08-24 04:42] RowanMaBoot commented on #63
Appointment succession is in place, meaning player campaign ends on death.

[2021-04-12 19:26] #62 closed

[2021-04-12 19:26] #60 closed

[2021-04-12 19:26] #52 closed